@charset "utf-8";
@font-face {
    font-family: myfamily;
    src: url('myfamily.TTF');
}

body {
    color: #3e3a39;
    font-family: myfamily;
}

a,
a:hover {
    color: #3e3a39;
    text-decoration: none;
}

body,
ul,
li,
a,
h2,
h3,
h4,
dl,
input,
label,
p {
    padding: 0;
    margin: 0;
}