@charset "utf-8";
@font-face {
    font-family: myfamily;
    src: url('myfamily.TTF');
}

body {
    overflow-x: hidden;
    color: #3e3a39;
    font-family: myfamily;
}

a,
a:hover {
    color: #3e3a39;
    text-decoration: none;
}

body,
ul,
li,
a,
h2,
h3,
h4,
dl,
input,
label,
p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

#header {
    height: 130px;
    padding: 40px 0 30px 0;
    border-bottom: 4px solid #e30012;
}

#header .logo {
    float: left;
    margin-right: 120px;
}

#header .nav {
    float: left;
    margin-top: 15px;
}

#header .nav li {
    float: left;
    margin-right: 40px;
    font-size: 21px;
}

#header .nav li span {
    float: left;
    height: 22px;
    line-height: 26px;
    padding-right: 7px;
    margin-right: 7px;
    border-right: 2px solid #757473;
}

#header .nav li em {
    font-size: 14px;
    font-style: normal;
}

#nav {
    position: fixed;
    right: 0;
    top: 100px;
    display: none;
    z-index: 9999;
}

#nav_bar {
    width: 68px;
    height: 68px;
    position: absolute;
    right: 21px;
    cursor: pointer;
    background: url(../images/nav_icon.png) no-repeat 0 0;
}

#nav_bar:hover {
    background-position: -68px 0;
}

#nav_con {
    width: 282px;
    position: absolute;
    right: 0;
    top: 65px;
    display: none;
}

#nav_con .nav_con_top {
    width: 100%;
    height: 34px;
    background: url(../images/nav_icon.png) no-repeat 0 -68px;
}

#nav_con .nav_con_cen {
    width: 100%;
    overflow: hidden;
    padding: 20px 0 20px 70px;
    background: url(../images/nav_icon.png) repeat-y -282px 0;
}

#nav_con .nav_con_cen li {
    font-size: 20px;
    margin: 30px 0;
}

#nav_con .nav_con_cen li span {
    float: left;
    height: 22px;
    line-height: 26px;
    padding-right: 14px;
    margin-right: 20px;
    border-right: 2px solid #757473;
}

#nav_con .nav_con_cen li em {
    font-size: 14px;
    font-style: normal;
}

#nav_con .nav_con_bottom {
    width: 100%;
    height: 19px;
    background: url(../images/nav_icon.png) no-repeat 0 -102px;
}

.index_slide {
    width: 100%;
    height: 770px;
    overflow: hidden;
    position: relative;
}

.index_slide .bd img {
    width: 1920px;
    height: 770px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.index_box1 {
    width: 100%;
    height: 250px;
    background: #f5f6f6;
}

.index_box1 ul {
    padding: 28px 0 0 87px;
    overflow: hidden;
}

.index_box1 li {
    width: 155px;
    float: left;
    margin: 0 25px;
}

.index_box1 li .img {
    width: 155px;
    height: 155px;
    padding: 14px;
    border: 10px solid #dadbdb;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    margin-bottom: 15px;
}

.index_box1 li:hover .img img,
.case_box li.on a .img img {
    margin-top: -107px;
}

.index_box1 li .info {
    font-size: 21px;
    text-align: center;
    letter-spacing: 10px;
    text-indent: 10px;
}

.index_box2 {
    width: 100%;
    height: 295px;
    background: #ededed;
}

.index_box2 .img {
    text-align: center;
    padding-top: 60px;
}

.index_box3 {
    width: 100%;
    padding-top: 80px;
    height: 954px;
    overflow: hidden;
    background: url(../images/index_box3bg.png) no-repeat center center;
}

.index_box3_slide {
    width: 900px;
    padding-left: 26px;
    margin: 0 auto;
    position: relative;
}

.index_box3_slide .bd li {
    width: 900px;
    height: 730px;
    position: relative;
}

.index_box3_slide .bd li .img img {
    width: 360px;
    height: 468px;
}

.index_box3_slide .bd li .name {
    position: absolute;
    left: 0;
    bottom: 20px;
}

.index_box3_slide .bd li .name .pname {
    font-size: 18px;
    margin-bottom: 15px;
}

.index_box3_slide .bd li .name .ppost {
    font-size: 24px;
    color: #000;
}

.index_box3_slide .bd li .info {
    width: 335px;
    position: absolute;
    right: 30px;
    top: 155px;
}

.index_box3_slide .bd li .info h2 {
    font-size: 80px;
    height: 88px;
    overflow: hidden;
}

.index_box3_slide .bd li .info .info_con {
    font-size: 21px;
    line-height: 39px;
    text-indent: 2em;
    max-height: 465px;
    overflow: hidden;
}

.index_box3_slide .hd {
    margin-top: 45px;
    position: absolute;
    left: 50%;
}

.index_box3_slide .hd li {
    width: 16px;
    height: 16px;
    background: #9d9e9e;
    border-radius: 50%;
    float: left;
    margin: 0 8px;
    cursor: pointer;
}

.index_box3_slide .hd li.on {
    background: #3e3a39;
}

.index_box4 {
    width: 100%;
    height: 675px;
    background: #dadbdb;
}

.index_box4_title {
    height: 105px;
    line-height: 120px;
    letter-spacing: 38px;
    font-size: 26px;
    color: #f21c36;
    text-indent: 38px;
    text-align: center;
}

.index_box4_slide .bd {
    float: left;
    width: 60%;
    height: 570px;
    overflow: hidden;
    position: relative;
}

.index_box4_slide .bd img {
    position: absolute;
    width: 100%;
    height: 570px;
    right: 0;
    top: 0;
}

.index_box4_slide .hd {
    float: left;
    width: 40%;
    height: 570px;
}

.index_box4_slide .hd li {
    height: 190px;
    padding: 48px 0 0 48px;
    cursor: pointer;
}

.index_box4_slide .hd li:nth-of-type(1) {
    background: #f21c36;
}

.index_box4_slide .hd li:nth-of-type(2) {
    background: #fa324b;
}

.index_box4_slide .hd li:nth-of-type(3) {
    background: #c42641;
}

.index_box4_slide .hd li h2,
.index_box4_slide .hd li p {
    width: 460px;
    overflow: hidden;
    color: #fff;
}

.index_box4_slide .hd li h2 {
    font-size: 52px;
    margin-bottom: 5px;
    letter-spacing: 5px;
    text-indent: 5px;
}

.index_box4_slide .hd li p {
    font-size: 21px;
}

.index_box5 {
    width: 100%;
    height: 950px;
    padding: 300px 0 240px;
    text-align: center;
    background: url(../images/index_boxbg.jpg) no-repeat center center;
}

.index_box5 p:nth-of-type(1) {
    font-size: 60px;
    letter-spacing: 18px;
    text-indent: 18px;
}

.index_box5 p:nth-of-type(2) {
    font-size: 21px;
}

.index_box5 p:nth-of-type(3) {
    font-size: 38px;
    color: #e30012;
    margin-bottom: 120px;
}

.index_box5 p:nth-of-type(4) {
    font-size: 60px;
    color: #e30012;
}

.index_box5 p:nth-of-type(4) em {
    font-size: 24px;
    font-style: normal;
}

.index_box5 p:nth-of-type(4) span {
    position: relative;
    left: -18px;
}

.index_box5 p:nth-of-type(4) span:nth-of-type(1) {
    margin-right: 110px;
}

.index_box6 {
    background: #f5f6f6;
    padding: 120px;
    border-bottom: 2px solid #b3b3b4;
}

.index_box6_title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 85px;
}

.index_box6_con {
    max-height: 260px;
    overflow: hidden;
}

.index_box6_con a {
    height: 65px;
    padding: 15px 0;
    display: inline-block;
    margin-right: 40px;
}

.index_box6_con img {
    height: 35px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.index_box6_con a:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

.index_box6_list {
    position: relative;
}

.index_box6_dot {
    text-align: center;
    position: relative;
    top: 100px;
}

.index_box6_dot a {
    width: 16px;
    height: 16px;
    background: #c7c8c8;
    border-radius: 50%;
    margin: 0 8px;
    display: inline-block;
}

.index_box7 {
    padding-top: 120px;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
}

.index_box7_left {
    width: 610px;
    float: left;
    position: relative;
    margin-right: 65px;
}

.index_box7_left li {
    margin-bottom: 13px;
    height: 60px;
    position: relative;
}

.index_box7_left li:nth-last-of-type(1) {
    height: 310px;
}

.index_box7_left li em {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

.index_box7_left li:nth-of-type(1) em,
.index_box7_left li:nth-of-type(2) em {
    display: block;
}

.index_box7_left input {
    width: 100%;
    height: 60px;
    font-size: 18px;
    padding: 0 40px 0 20px;
    outline: none;
    border: 2px solid #b3b3b4;
}

.index_box7_left textarea {
    width: 100%;
    height: 310px;
    resize: none;
    font-size: 18px;
    padding: 20px;
    outline: none;
    border: 2px solid #b3b3b4;
}

.index_box7_left .code {
    position: absolute;
    bottom: 14px;
    left: 660px;
}

.index_box7_left .code_con {
    width: 530px;
    height: 60px;
    position: relative;
}

.index_box7_left .code_con #code {
    width: 330px;
    padding-right: 130px;
}

.index_box7_left .code_con span {
    position: absolute;
    left: 200px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
    margin-top: 13px;
    cursor: pointer;
}

.index_box7_left .code_con #dosubmit {
    position: absolute;
    width: 200px;
    background: #E40012;
    color: #fff;
    border: none;
    right: 0;
    font-size: 30px;
    line-height: 63px;
    letter-spacing: 24px;
}

.index_box7_right {
    width: 525px;
    float: left;
}

.index_box7_right h2 {
    color: #e30012;
    font-size: 48px;
    margin-bottom: 15px;
}

.index_box7_right p {
    color: #000;
    font-size: 48px;
    height: 56px;
}

.index_box7_right div {
    font-size: 20px;
    line-height: 40px;
    margin-top: 40px;
    text-indent: 2em;
}

#footer {
    border-top: 2px solid #b3b3b4;
    background: #e40012;
    overflow: hidden;
    padding: 85px 0 60px 0;
}

#footer .map {
    width: 260px;
    float: left;
    margin: 0 60px 0 100px;
}

#footer .map img {
    width: 260px;
}

#footer .right {
    width: 680px;
    float: left;
    color: #fff;
}

#footer .right_top {
    padding-top: 110px;
}

#footer .right_top li {
    text-align: center;
}

#footer .right_top h2 {
    font-size: 21px;
    margin-bottom: 35px;
}

#footer .right_top a {
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    color: #fff;
}

#footer .right_bottom_left {
    float: left;
    padding: 80px 0 0 30px;
}

#footer .right_bottom_left p {
    margin-bottom: 8px;
}

#footer .right_bottom_right {
    float: right;
    padding: 50px 20px 0 0;
}

#footer .right_bottom_right p {
    width: 100px;
    height: 140px;
    float: left;
    margin-right: 15px;
    text-align: center;
}

#footer .right_bottom_right p img {
    width: 100px;
    height: 100px;
}

#footer .right_bottom_right span {
    line-height: 40px;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 1920px;
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.service_banner,
.service_banner img {
    height: 570px;
}

.about_banner,
.about_banner img {
    height: 590px;
}

.case_banner,
.case_banner img {
    height: 600px;
}

.join_banner,
.join_banner img {
    height: 698px;
}

.about {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.about_title {
    width: 950px;
    margin: 0 auto;
    height: 500px;
    padding: 90px 0 160px 0;
    cursor: pointer;
}

.about_title p {
    text-align: right;
    margin-top: 32px;
    font-size: 21px;
}

.contact {
    width: 100%;
    height: 864px;
    background: url(../images/contact_bg.png) no-repeat center center;
}

.contact_title {
    padding-top: 160px;
}

.contact_con {
    margin-top: 100px;
}

.contact_con p {
    text-align: left;
    margin: 0;
    line-height: 50px;
}

.about_con_box1 {
    height: 385px;
}

.about_box1_left {
    height: 100%;
    width: 60%;
    overflow: hidden;
    background: #1b0301;
    float: left;
    position: relative;
}

.about_box1_left img {
    height: 385px;
    position: absolute;
    right: 0;
}

.about_box1_right {
    width: 40%;
    padding-left: 60px;
    color: #fff;
    float: left;
    overflow: hidden;
    height: 100%;
    background: #4d1904;
}

.about_box1_info {
    width: 370px;
}

.about_box1_info h2 {
    width: 100%;
    height: 98px;
    line-height: 98px;
    overflow: hidden;
    letter-spacing: 10px;
    text-indent: 10px;
    font-size: 80px;
}

.about_box1_info .info_con {
    text-indent: 2em;
    font-size: 21px;
    height: 276px;
    overflow: hidden;
    line-height: 46px;
}

.about_con_box2 {
    width: 100%;
    height: 546px;
    background: url(../images/about_box2bg.jpg) no-repeat center center;
}

.about_content {
    position: relative;
}

.about_content .info {
    width: 325px;
    position: absolute;
    color: #fff;
    top: 48px;
    left: 150px;
}

.about_content .info h2 {
    font-size: 80px;
    width: 100%;
    height: 98px;
    line-height: 98px;
    overflow: hidden;
    margin-bottom: 40px;
}

.about_content .info .info_con {
    text-indent: 2em;
    font-size: 21px;
    height: 308px;
    overflow: hidden;
    line-height: 44px;
}

.about_content .img {
    width: 938px;
    height: 438px;
    position: absolute;
    top: 41px;
    left: 535px;
}

.about_content .img .img_con {
    position: relative;
}

.about_content .img .img_con span {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.about_content .img .img_con p {
    position: absolute;
    left: 63px;
    top: 24px;
    z-index: 1;
}

.about_content .img .img_con p img {
    width: 916px;
    height: 412px;
}

.about_con_box3 {
    width: 100%;
    padding-top: 66px;
    height: 330px;
    background: url(../images/about_box3bg.jpg) no-repeat center center;
}

.about_box3_con {
    height: 90px;
}

.about_box3_con:nth-of-type(1) {
    margin-bottom: 66px;
}

.about_box3_con h2,
.about_box3_con .info {
    float: left;
}

.about_box3_con h2 {
    width: 540px;
    margin-right: 60px;
    line-height: 90px;
    text-align: right;
    font-size: 80px;
    color: #fff;
}

.about_box3_con .info {
    width: 540px;
    height: 90px;
    line-height: 42px;
    overflow: hidden;
    font-size: 21px;
}

.case_box li .img {
    background: none;
    border: 10px solid transparent;
}

.case_box_con {
    position: relative;
}

.case_box_con li span {
    display: none;
}

.case_title {
    width: 345px;
    height: 98px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    margin-left: -172px;
    background: url(../images/case_title.png) no-repeat;
}

.case_title h2 {
    width: 370px;
    line-height: 106px;
    font-size: 56px;
    letter-spacing: 26px;
    text-align: center;
}

.case_box2 {
    padding: 190px 0;
    background: #664e3f;
}

.case_box2_con {
    width: 928px;
    height: 928px;
    margin: 0 auto;
    position: relative;
}

.case_box2_con li,
.case_box2_con li img {
    width: 232px;
    height: 232px;
}

.case_box2_con li {
    position: absolute;
    cursor: pointer;
}

.case_box2_con li:nth-of-type(12n+1) {
    left: 0;
    top: 0;
}

.case_box2_con li:nth-of-type(12n+2) {
    left: 232px;
    top: 0;
}

.case_box2_con li:nth-of-type(12n+3) {
    left: 464px;
    top: 0;
}

.case_box2_con li:nth-of-type(12n+4) {
    left: 696px;
    top: 0;
}

.case_box2_con li:nth-of-type(12n+5) {
    left: 0;
    top: 232px;
}

.case_box2_con li:nth-of-type(12n+6) {
    right: 0;
    top: 232px;
}

.case_box2_con li:nth-of-type(12n+7) {
    left: 0;
    top: 464px;
}

.case_box2_con li:nth-of-type(12n+8) {
    right: 0;
    top: 464px;
}

.case_box2_con li:nth-of-type(12n+9) {
    left: 0;
    bottom: 0;
}

.case_box2_con li:nth-of-type(12n+10) {
    left: 232px;
    bottom: 0;
}

.case_box2_con li:nth-of-type(12n+11) {
    left: 464px;
    bottom: 0;
}

.case_box2_con li:nth-of-type(12n+12) {
    left: 696px;
    bottom: 0;
}

.case_box2_con p.show {
    width: 464px;
    height: 464px;
    position: absolute;
    top: 232px;
    left: 232px;
}

.case_box2_con .show img {
    width: 464px;
    height: 464px;
}

.case_box2_con .case_page {
    position: absolute;
    width: 1028px;
    height: 137px;
    left: -50px;
    margin-top: -68px;
    top: 50%;
}

.case_box2_con .case_page a {
    display: block;
    width: 80px;
    height: 137px;
    float: left;
    text-indent: -9999px;
    background: url(../images/case_icon.png) no-repeat 0 0;
}

.case_box2_con .case_page a.nextRight {
    float: right;
    background-position: -80px 0;
}

.service_box2 {
    padding: 190px 0;
}

.service_box2_con {
    width: 1100px;
    font-size: 21px;
    margin: 0 auto;
}

.service_box3_title {
    width: 100%;
    height: 185px;
    color: #fff;
    text-align: center;
    background: #7d7d7d;
    line-height: 185px;
    font-size: 54px;
    letter-spacing: 32px;
    text-indent: 32px;
}

.service_box3_con {
    width: 100%;
    height: 957px;
}

.service_box3_list {
    width: 100%;
    height: 317px;
}

.service_box3_list .service_list_left {
    height: 100%;
    width: 40%;
    padding-right: 40px;
    float: left;
    background: url(../images/service_bg.jpg) no-repeat 0 0;
}

.service_list_left_con {
    color: #fff;
    float: right;
    padding-top: 160px;
}

.service_list_left_con p {
    font-size: 21px;
}

.service_list_left_con h2 {
    font-size: 60px;
}

.service_box3_list .service_list_right {
    height: 100%;
    width: 60%;
    padding-left: 115px;
    float: right;
    border-left: 5px solid #fff;
    background: #ededed;
    color: #b3b3b4;
}

.service_box3_list:nth-of-type(2) {
    height: 323px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.service_box3_list:nth-of-type(2) .service_list_left {
    background: url(../images/service_bg.jpg) no-repeat 0 -317px;
}

.service_box3_list:nth-of-type(3) .service_list_left {
    background: url(../images/service_bg.jpg) no-repeat 0 -634px;
}

.service_list_right_con .number {
    padding-top: 55px;
    height: 200px;
}

.service_list_right_con .number p {
    font-size: 122px;
    position: relative;
    display: inline-block;
}

.service_list_right_con .number p span {
    position: absolute;
    font-size: 54px;
    top: -18px;
    right: -40px;
}

.service_list_right_con .info {
    font-size: 21px;
    color: #7d7d7d;
}

.join_box {
    width: 100%;
    height: 300px;
}

.join_box_con {
    height: 100%;
    padding-top: 170px;
}

.join_box_list {
    position: relative;
}

.join_box_btn {
    width: 62px;
    height: 62px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.join_box_btn img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.join_job a {
    position: absolute;
    font-size: 24px;
    height: 62px;
    line-height: 72px;
}

.join_job a:nth-of-type(1) {
    right: 700px;
    bottom: 0;
}

.join_job a:nth-of-type(2) {
    left: 700px;
    bottom: 0;
}

.join_job a:nth-of-type(3) {
    right: 850px;
    bottom: 0;
}

.join_job a:nth-of-type(4) {
    left: 850px;
    bottom: 0;
}

.join_job a:nth-of-type(5) {
    right: 1000px;
    bottom: 0;
}

.join_job a:nth-of-type(6) {
    left: 1000px;
    bottom: 0;
}

.join_job a:nth-of-type(7) {
    right: 700px;
    bottom: 60px;
}

.join_job a:nth-of-type(8) {
    left: 700px;
    bottom: 60px;
}

.join_job a:nth-of-type(9) {
    right: 850px;
    bottom: 60px;
}

.join_job a:nth-of-type(10) {
    left: 850px;
    bottom: 60px;
}

.join_job a:nth-of-type(11) {
    right: 1000px;
    bottom: 60px;
}

.join_job a:nth-of-type(12) {
    left: 1000px;
    bottom: 60px;
}

.jobs_click_show {
    width: 1200px;
    background: #f2f2f2;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -600px;
    z-index: 999;
    box-shadow: 0px 0px 20px 0px #000;
    display: none;
}

.jobs_click_show_con {
    width: 1020px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.jobs_click_show_title {
    width: 1020px;
    height: 110px;
    position: relative;
}

.jobs_click_show_title h2 {
    font-size: 24px;
    text-align: center;
    color: #b3b3b3;
    height: 70px;
    line-height: 70px;
}

#jobs_click_close {
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    right: 15px;
    top: 33px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    background: url(../images/qq_icon.png) no-repeat -61px -73px;
}

#jobs_click_close:hover {
    background-position: -89px -73px;
}

.jobs_form_li {
    height: 65px;
    overflow: hidden;
}

.jobs_form_li li {
    float: left;
    margin-right: 58px;
}

.jobs_form_li li label {
    color: #4d4d4d;
    font-size: 20px;
    font-family: "微软雅黑";
    font-weight: normal;
    padding-right: 5px;
}

.jobs_form_li li input {
    height: 34px;
    line-height: 34px;
    border: 1px solid #b3b3b3;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
}

.job_name {
    width: 185px;
}

.job_race {
    width: 105px;
}

.job_post {
    width: 185px;
}

.job_salary {
    width: 110px;
}

.jobs_form_li li:last-child {
    margin-right: 0;
}

.jobs_textarea {
    border: 1px solid #B3B3B3;
    background: #fff;
    margin-left: 45px;
    width: 975px;
    height: 300px;
    outline: none;
    padding: 10px;
    font-size: 14px;
    resize: none;
    font-family: "微软雅黑";
    color: #4d4d4d;
}

.job_enter {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    color: #009245;
    font-size: 18px;
    font-family: "微软雅黑";
    text-align: right;
}

.join_code {
    text-align: right;
    position: relative;
}

.join_code #code {
    height: 40px;
    width: 140px;
    margin: 0;
}

.join_code #dosubmit {
    height: 40px;
    width: 96px;
    border: 1px solid #BCBCBC;
    font-size: 16px;
}